<ion-header>
  <ion-toolbar>
    <ion-title>recuperar</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input placeholder="Ingrese correo" type="email" [(ngModel)]="correo"></ion-input>
    </ion-item>
    <!--El comando .include('cadena'): busca que un texto contenga la cadena de texto indicada...
      El disabled deshabilita el boton cuando el correo no incluye la cadena de texto: @duocuc.cl -->
    <ion-button expand="block" (click)="recuperar()" [disabled]="!correo.includes('@duocuc.cl')">Recuperar</ion-button>
  </ion-card>

</ion-content>